@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

body {
  font-family: "Jost", sans-serif;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  margin: 0;
  background-color: white;
}
#home-btn {
  text-decoration: none;
  color: #f40469;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}
#sign-up-btn {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
#carousal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("Image/bg1.jpeg");
  background-size: cover;
  background-position: center;
  height: 504px;
}
#caro-title {
  font-size: 56px;
  color: #ffffff;
}
#caro-input {
  margin: 43px 0;
}
#caro-input input {
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-start-start-radius: 30px;
  border-end-start-radius: 30px;
  padding: 11px 50px 11px 20px;
  border-width: 0;
  outline: none;
}
#caro-input button {
  border: 0px;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  margin-left: -10px;
  background-color: #ff006e;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  /* height: 56px; */
}

#download-sect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  margin: 120px 0px;
}
#download-sect-img {
  padding: 20px;
}
#download-sect-txt {
  margin: auto 20px;
}
#download-sect-txt h1 {
  font-size: 48px;
}
#download-sect-txt p {
  font-size: 16px;
  font-weight: 195;
}
#download-sect-txt button {
  font-size: 21px;
  border: 0;
  border-radius: 30px;
  padding: 5px 15px;
  background-color: #ff006e;
  color: #ffffff;
}
#popular-title{
  font-size: 32px;
}
#popular-btn{
  font-size: 18px;
}
.popular-grid{
  max-width: fit-content;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
}
.sec-grid{
  grid-column: span 2;
}
.popular-grid-sec{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}